@model EmployeeCVManager.Models.HomeModel

<!doctype html>
<html lang="en">
<head>
  <title>Employee C.V. Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id="root" style="height: 100%"></div>
<<<<<<< HEAD
  <environment names="Development">
    <script type="text/javascript" src="http://localhost:3000/vendor.js"></script>
    <script type="text/javascript" src="http://localhost:3000/app.js"></script>
  </environment>
  <environment names="Staging,Production">
    @Model.ScriptString
  </environment>
=======
  <script type="text/javascript" src="http://localhost:3000/vendor.js"></script>
  <script type="text/javascript" src="http://localhost:3000/app.js"></script>
>>>>>>> c9971f66244b9661385453ac4e6f68c7c1fc1ddf
</body>
</html>